:root {
  font-size:16px;
}
@media screen only and (max-width: 360px) {
  :root {
    font-size: 14px;
  }
}

html,body {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size:1rem;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

*,*:before,*:after,*:focus {
  font-family: 'Ubuntu';
  font-weight: 300;
  box-sizing:inherit;
  margin:0;
  padding:0;
}
